<launch>
  <arg name="manager" default="point_cloud_manager" />
  <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]" />
  <arg name="rviz" default="false" />

  <!-- rviz -->
  <group if="$(arg rviz)">
    <include file="$(find legged_deployment)/launch/rviz.launch">
      <arg name="robot_type" value="$(arg robot_type)" />
    </include>
  </group>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load"
      file="$(find legged_deployment)/config/elevation_mapping.yaml" />
    <rosparam command="load"
      file="$(find elevation_mapping_demos)/config/postprocessing/postprocessor_pipeline.yaml" />
  </node>

  <include file="$(find convex_plane_decomposition_ros)/launch/convex_plane_decomposition.launch">
    <arg name="parameter_file"
      value="$(find legged_perceptive_controllers)/config/convex_plane_decomposition.yaml" />
  </include>

</launch>